APP_NAME=YouAndMe
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=youandme_api
DB_USERNAME=youandme
DB_PASSWORD=lokalne

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null

QUEUE_CONNECTION=database
CACHE_STORE=database
SESSION_DRIVER=database

SANCTUM_STATEFUL_DOMAINS=
